server:
  port: 8090

jwt:
  secret: ${JWT_SECRET_KEY}
  expiration: ${JWT_EXPIRATION_TIME:86400000}
  refresh-expiration: ${JWT_REFRESH_EXPIRATION_TIME:604800000}

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: always
      platform: postgresql

  jpa:
    hibernate:
      ddl-auto: validate