server:
  port:
    8090

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: always
      platform: postgresql

  jpa:
    hibernate:
      ddl-auto: validate